<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p>© <%= Time.now.year %> Lucas Fuentes</p>
      </div>
    </div>
  </div>
</footer> 