<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Lucas Fuentes</h5>
        <p>Web Developer & Designer</p>
      </div>
      <div class="col-md-6 text-end">
        <div class="social-links">
          <a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p>&copy; <%= Date.today.year %> Lucas Fuentes. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer> 