<div class="hero" style="margin:0; padding:0; border-bottom:none; min-height:100vh; overflow:hidden;">
    <div class="hero-content">
        <h1>Lucas Fuentes</h1>
        <p class="subtitle">Programmer</p>
        <div class="social-links">
            <a href="https://github.com/TheLukeist" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
            <a href="http://www.linkedin.com/in/lucas-benjamin-fuentes-alarcon-3aa969336" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="mailto:lbfuentes@miuandes.cl">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </div>
</div>
