<section id="aboutme" class="aboutme">
    <div class="aboutme-section">
        <h2>About me</h2>
        <div class="aboutme-content">
            <p><span>Im Lucas Fuentes.</span> I'm a fourth-year student in civil engineering in computer science at the Universidad de los Andes. 
                I have experience in languages such as Python, Javascript, SQL, and C.
                Now I'm up for the challenge of learning Ruby.</p>
            <%= image_tag "nice.jpg", alt: "Foto de mi", class: "me-photo" %>
        </div>
        <h2>Interests</h2>
        <div class="content-interest">
            <div class="interest">
                <i class="fa-solid fa-gamepad"></i>
                <span>GAMES</span>
            </div>
            <div class="interest">
                <i class="fa-solid fa-headphones"></i>
                <span>MUSIC</span>
            </div>
            <div class="interest">
                <i class="fa-solid fa-plane"></i>
                <span>TRAVEL</span>
            </div>
            <div class="interest">
                <i class="fa-brands fa-apple"></i>
                <span>TECNOLOGY</span>
            </div>
            <div class="interest">
                <i class="fa-solid fa-futbol"></i>
                <span>SPORTS</span>
            </div>
            <div class="interest">
                <i class="fa-solid fa-car"></i>
                <span>CARS</span>
            </div>
        </div>
    </div>
</section> 